In [4]:
# libraries needed
import tweepy
import pandas as pd
import numpy as np

In [5]:
# my keys
CONSUMER_KEY = ''
CONSUMER_SECRET = ''
BEARER_TOKEN = ''
ACCESS_TOKEN = ''
SECRET_TOKEN = ''

In [6]:
client = tweepy.Client(bearer_token=BEARER_TOKEN, 
            consumer_key=CONSUMER_KEY, 
            consumer_secret=CONSUMER_SECRET, 
            access_token=ACCESS_TOKEN, 
            access_token_secret=SECRET_TOKEN,
            return_type=dict, 
            wait_on_rate_limit=False)

### Get information about a user

In [4]:
user = client.get_users(usernames= 'nasa', user_fields='profile_image_url')

In [5]:
user['data'][0]

{'name': 'NASA',
 'username': 'NASA',
 'id': '11348282',
 'profile_image_url': 'https://pbs.twimg.com/profile_images/1321163587679784960/0ZxKlEKB_normal.jpg'}

In [6]:
nasa = user['data'][0]

### Get tweets of the user

In [29]:
# here we can get the tweets but not the picture in the tweets
tweets = client.get_users_tweets(id = nasa['id'], exclude=['retweets'], max_results=5)

In [33]:
tweets =tweets['data']

In [9]:
client.get_tweet(id = '1530633282605522944', expansions='attachments.media_keys', media_fields='preview_image_url')

{'data': {'attachments': {'media_keys': ['16_1530633258228240386']},
  'id': '1530633282605522944',
  'text': "There's a Jupiter-Mars conjunction in the night sky this weekend‚Äîand *maybe* a few meteors to boot.\n\nHere's what to look up for: https://t.co/dXqTNQYPkD https://t.co/XrCSffObbv"},
 'includes': {'media': [{'media_key': '16_1530633258228240386',
    'preview_image_url': 'https://pbs.twimg.com/tweet_video_thumb/FT3m1rYX0AIkW1Q.jpg',
    'type': 'animated_gif'}]}}

In [36]:
# so for each tweet we get, we want to get more information 
tweets_with_pics = []
for tweet in tweets:
    tweetdata = client.get_tweet(id = tweet['id'], expansions=['attachments.media_keys'], media_fields=['preview_image_url'])
    tweets_with_pics.append(tweetdata)

In [37]:
tweets_with_pics

[{'data': {'attachments': {'media_keys': ['16_1530633258228240386']},
   'id': '1530633282605522944',
   'text': "There's a Jupiter-Mars conjunction in the night sky this weekend‚Äîand *maybe* a few meteors to boot.\n\nHere's what to look up for: https://t.co/dXqTNQYPkD https://t.co/XrCSffObbv"},
  'includes': {'media': [{'media_key': '16_1530633258228240386',
     'preview_image_url': 'https://pbs.twimg.com/tweet_video_thumb/FT3m1rYX0AIkW1Q.jpg',
     'type': 'animated_gif'}]}},
 {'data': {'attachments': {'media_keys': ['13_1530302644090191877']},
   'id': '1530302929198100481',
   'text': 'This week @ NASA:\n\n-#Starliner completes mission\n-New solar sail concept tapped for development\n-@NASAWebb director named to #TIME100\n\nWhat else are we up to? Subscribe to our channel: https://t.co/ldVd1scVif https://t.co/a4dNXWWHol'},
  'includes': {'media': [{'media_key': '13_1530302644090191877',
     'preview_image_url': 'https://pbs.twimg.com/media/FTy6ZfiWYAAaZQa.png',
     'type': 'video'}]}},
 {'data': {'attachments': {'media_keys': ['16_1530296748807274496']},
   'id': '1530296773331365889',
   'text': 'Heading into the weekend like a helicopter on Mars. üí®\n\nOur Ingenuity #MarsHelicopter just sent back this video of it flying farther and faster than ever before: https://t.co/rFitmFz8gC https://t.co/v5jtE71RW3'},
  'includes': {'media': [{'media_key': '16_1530296748807274496',
     'preview_image_url': 'https://pbs.twimg.com/tweet_video_thumb/FTy0yQGXwAA5hjt.jpg',
     'type': 'animated_gif'}]}},
 {'data': {'attachments': {'media_keys': ['3_1530217799720779778']},
   'id': '1530217803080515585',
   'text': 'LIVE NOW: Leaders discuss the status of the ‚Äúwet dress rehearsal‚Äù test for the @NASAArtemis I Moon mission, now that @NASAGroundSys teams have successfully addressed items from previous tests: https://t.co/8LjFdNz38q https://t.co/YUsyETGrEL'},
  'includes': {'media': [{'media_key': '3_1530217799720779778',
     'type': 'photo'}]}},
 {'data': {'attachments': {'media_keys': ['3_1530213527520264192']},
   'id': '1530213529894146048',
   'text': 'We‚Äôll announce who is moving forward in developing the next generation of spacesuits for spacewalking at the @Space_Station &amp; #Artemis missions at the Moon. Tune in Wed, June 1 at 2pm ET (18:00 UTC) here or on https://t.co/z1RgZwQkWS.\n\nMedia RSVP info: https://t.co/49o8ANosqn https://t.co/6dvWNUCu1r'},
  'includes': {'media': [{'media_key': '3_1530213527520264192',
     'type': 'photo'}]}}]

In [11]:
# how to get the pics link?
for i in tweets_with_pics:
    # we see if there's 'include' in the tweets
    if 'includes' in i:
        # and see if there's the image url there
        if 'preview_image_url' in i['includes']['media'][0]:
            # we print the url
            print(i['includes']['media'][0]['preview_image_url'])

https://pbs.twimg.com/tweet_video_thumb/FT3m1rYX0AIkW1Q.jpg
https://pbs.twimg.com/media/FTy6ZfiWYAAaZQa.png
https://pbs.twimg.com/tweet_video_thumb/FTy0yQGXwAA5hjt.jpg

In [15]:
# let's get all the tweets, with or without picture
tweet = []

for y in tweets_with_pics:
    txt = y['data']['text']
    if 'includes' in y:
        if 'preview_image_url'in y['includes']['media'][0]:
            img = y['includes']['media'][0]['preview_image_url']
            tweet.append({'tweet': txt, 'img': img})
        else:
            tweet.append({'tweet': txt})
    else:
        tweet.append({'tweet': txt})

In [16]:
tweet

[{'tweet': "There's a Jupiter-Mars conjunction in the night sky this weekend‚Äîand *maybe* a few meteors to boot.\n\nHere's what to look up for: https://t.co/dXqTNQYPkD https://t.co/XrCSffObbv",
  'img': 'https://pbs.twimg.com/tweet_video_thumb/FT3m1rYX0AIkW1Q.jpg'},
 {'tweet': 'This week @ NASA:\n\n-#Starliner completes mission\n-New solar sail concept tapped for development\n-@NASAWebb director named to #TIME100\n\nWhat else are we up to? Subscribe to our channel: https://t.co/ldVd1scVif https://t.co/a4dNXWWHol',
  'img': 'https://pbs.twimg.com/media/FTy6ZfiWYAAaZQa.png'},
 {'tweet': 'Heading into the weekend like a helicopter on Mars. üí®\n\nOur Ingenuity #MarsHelicopter just sent back this video of it flying farther and faster than ever before: https://t.co/rFitmFz8gC https://t.co/v5jtE71RW3',
  'img': 'https://pbs.twimg.com/tweet_video_thumb/FTy0yQGXwAA5hjt.jpg'},
 {'tweet': 'LIVE NOW: Leaders discuss the status of the ‚Äúwet dress rehearsal‚Äù test for the @NASAArtemis I Moon mission, now that @NASAGroundSys teams have successfully addressed items from previous tests: https://t.co/8LjFdNz38q https://t.co/YUsyETGrEL'},
 {'tweet': 'We‚Äôll announce who is moving forward in developing the next generation of spacesuits for spacewalking at the @Space_Station &amp; #Artemis missions at the Moon. Tune in Wed, June 1 at 2pm ET (18:00 UTC) here or on https://t.co/z1RgZwQkWS.\n\nMedia RSVP info: https://t.co/49o8ANosqn https://t.co/6dvWNUCu1r'}]

### Get the friends of the user

In [17]:
friend = client.get_users_following(id = nasa['id'],user_fields=['profile_image_url'], max_results=30)['data']

In [18]:
friend[:5]

[{'name': 'Jessica Watkins',
  'username': 'astro_watkins',
  'profile_image_url': 'https://pbs.twimg.com/profile_images/1503440273380196357/7E3155Ub_normal.jpg',
  'id': '1503438935808217088'},
 {'name': 'Deniz Burnham',
  'username': 'astro_deniz',
  'profile_image_url': 'https://pbs.twimg.com/profile_images/1494368651864125440/3FqrQ4Qm_normal.jpg',
  'id': '1481392449402589184'},
 {'name': 'Marcos Berr√≠os',
  'username': 'astro_berrios',
  'profile_image_url': 'https://pbs.twimg.com/profile_images/1481691772334055431/cxzdd6vP_normal.jpg',
  'id': '1481690836228358145'},
 {'name': 'Nichole ‚ÄúVapor‚Äù Ayers',
  'username': 'Astro_Ayers',
  'profile_image_url': 'https://pbs.twimg.com/profile_images/1495041422889824257/it9gqCPL_normal.jpg',
  'id': '1481394337900601352'},
 {'name': 'NASA Space Science',
  'username': 'NASASpaceSci',
  'profile_image_url': 'https://pbs.twimg.com/profile_images/1469326740837314565/ZhpWHfCe_normal.jpg',
  'id': '1452706961565396996'}]

In [19]:
# put the friends in the list
li_users = friend

In [20]:
li_users.insert(0, user)

### functions

#### We got all that we need, but we are not going to do all this one by one, so we will make a function that do this for us automatically. We can specify which starting user we want and how many friends

In [4]:
def get_timeline(starting_user, n_friends):
    timeline_data = []

    # get the information about the chosen starting user
    user1 = client.get_users(usernames= starting_user, user_fields=['profile_image_url'])['data'][0]

    # get the list of friends of the starting user
    users = client.get_users_following(id = user1['id'],user_fields=['profile_image_url'], max_results= n_friends)['data']
    
    # insert the starting user into the list too
    users.insert(0, user1)

    # let's get the tweets for the users
    for user in users:
        tweets_with_pics = []
        li_of_tweets = []
        tweets = client.get_users_tweets(id = user['id'], max_results=5, exclude=['retweets'])

        for t in tweets['data']:
            tweets_with_pics.append(client.get_tweet(id = t['id'], expansions=['attachments.media_keys'], media_fields=['preview_image_url']))
        for tweet in tweets_with_pics:
            tweet_text = tweet['data']['text']
            if 'includes' in tweet:
                if 'preview_image_url'in tweet['includes']['media'][0]:
                    img = tweet['includes']['media'][0]['preview_image_url']
                    li_of_tweets.append({'userid': user['id'], 'tweet': tweet_text, 'img': img})
                else:
                    li_of_tweets.append({'userid': user['id'],'tweet': tweet_text})
            else:
                li_of_tweets.append({'userid': user['id'], 'tweet': tweet_text})
        
    
        timeline_data.append({'id' : user['id'],
                            'name': user['name'] ,
                            'username': user['username'], 
                            'avatar': user['profile_image_url'], 
                            'tweets': li_of_tweets})
        
    return timeline_data

In [8]:
def get_timeline2(starting_user, n_friends):
    users_data = []
    tweets_data = []

    # get the information about the chosen starting user
    user1 = client.get_users(usernames= starting_user, user_fields=['profile_image_url'])['data'][0]

    # get the list of friends of the starting user
    users = client.get_users_following(id = user1['id'],user_fields=['profile_image_url'], max_results= n_friends)['data']
    
    # insert the starting user into the list too
    users.insert(0, user1)

    # let's get the tweets for the users
    for user in users:
        tweets_with_pics = []
        li_of_tweets = []
        tweets = client.get_users_tweets(id = user['id'], max_results=5, exclude=['retweets'])

        for t in tweets['data']:
            tweets_with_pics.append(client.get_tweet(id = t['id'], expansions=['attachments.media_keys'], media_fields=['preview_image_url']))
        for tweet in tweets_with_pics:
            tweet_text = tweet['data']['text']
            if 'includes' in tweet:
                if 'preview_image_url'in tweet['includes']['media'][0]:
                    img = tweet['includes']['media'][0]['preview_image_url']
                    tweets_data.append({'userid': user['id'], 'tweet': tweet_text, 'img': img})
                else:
                    tweets_data.append({'userid': user['id'],'tweet': tweet_text})
            else:
                tweets_data.append({'userid': user['id'], 'tweet': tweet_text})
        
    
        users_data.append({'id' : user['id'],
                            'name': user['name'] ,
                            'username': user['username'], 
                            'avatar': user['profile_image_url']})
        
    return users_data, tweets_data

In [10]:
userss, tweetss =get_timeline2('billgates', 2)

In [13]:
data = pd.DataFrame(tweetss)

In [14]:
data

,userid,tweet,img
0,50393960,The greatest medical breakthrough of this pand...,NaN
1,50393960,"To meet the world‚Äôs climate goals, clean energ...",NaN
2,50393960,Just like we have a robust system to prevent a...,https://pbs.twimg.com/media/FULeRcDUYAEvDhV.jpg
3,50393960,I can‚Äôt believe this was 15 years ago. I alway...,NaN
4,50393960,@waltmossberg @Kodak Reconnecting with Steve w...,NaN
5,23792365,"@salkhanacademy has transformed our world, say...",NaN
6,23792365,By recorded video @BillGates - an early suppor...,NaN
7,23792365,At the heart of the Patrick J. McGovern #TechF...,NaN
8,23792365,Changemaker @msbernst's research aims to reduc...,NaN
9,23792365,@PSaffo recognizes @dr_nyamewaa and @msbernst ...,NaN
10,1050230947927523328,"Con @UNODCROCOL y @USEmbassyBogota, presentamo...",https://pbs.twimg.com/ext_tw_video_thumb/15323...
11,1050230947927523328,"#EsConHechos, pol√≠tica p√∫blica innovadora y un...",NaN
12,1050230947927523328,"En el cumplea√±os 489 de Cartagena, con Don Jos...",https://pbs.twimg.com/ext_tw_video_thumb/15321...
13,1050230947927523328,@fabdelga Comparaci√≥n mes de abril a√±o a a√±o:\...,NaN
14,1050230947927523328,#EsConHechos que el sector minero-energ√©tico j...,NaN

In [62]:
data.to_json('test_tweets.json', orient='records')

### Prepare the data to put in sql

In [48]:
dfusers = data[['id', 'name', 'username']]
data_tweets = data[['tweets']]

In [49]:
dfusers

           id           name      username
0    50393960     Bill Gates     BillGates
1  1421082818  Pardis Sabeti  PardisSabeti
2    45268594   Liz Schrayer   LizSchrayer

In [50]:
data_tweets.iloc[0][0]

[{'userid': '50393960',
  'tweet': "@mansukhmandviya It was great to meet Dr @mansukhmandviya and exchange perspectives on global health. India's success with the vaccination drive and the use of technology to drive health outcomes at scale offers many lessons for the world."},
 {'userid': '50393960',
  'tweet': 'Happy to meet Prime Minister @sanchezcastejon and members of his government today in Madrid. Great to see his leadership and commitment to addressing some of the most pressing global challenges, particularly more equity in global health, climate change and food security. https://t.co/gCUdvKr4jj'},
 {'userid': '50393960',
  'tweet': 'The school shooting in Texas is heartbreaking. No parent should worry that their child isn‚Äôt safe at school. We must come together and act now so this never happens again.'},
 {'userid': '50393960',
  'tweet': 'Not long ago, the world increased aid for global health during a time of crisis. We must do so again. https://t.co/zAOZ1tbKcw'},
 {'userid': '50393960',
  'tweet': '.@PardisSabeti is working to detect pathogens earlier and stop pandemics in the their tracks. https://t.co/g9ejMe3O2B',
  'img': 'https://pbs.twimg.com/media/FTdyQ0PVsAAryAj.jpg'}]

In [60]:
dftweets = pd.DataFrame(columns = ['userid', 'tweet', 'image'])
for i in range(len(data_tweets)):
    for i in data_tweets.iloc[i][0]:
        if 'img' in i:
            dftweets = dftweets.append({'userid' : i['userid'], 'tweet' : i['tweet'], 'image' : i['img']}, 
                            ignore_index = True)
        else:
            dftweets = dftweets.append({'userid' : i['userid'], 'tweet' : i['tweet'], 'image' : np.nan}, 
                            ignore_index = True)

### put the data in sql

In [51]:
# import the module
from sqlalchemy import create_engine
from getpass import getpass

passw = getpass('Enter your password: ')

# create sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="",
                               pw= passw,
                               db=""))

In [55]:
try:
    dfusers.to_sql('users', con = engine, if_exists = 'append')
    dftweets.to_sql('tweets', con = engine, if_exists = 'append')
except:
    dftweets.to_sql('tweets', con = engine, if_exists = 'append')

### Get the trend

In [7]:
auth = tweepy.OAuthHandler(CONSUMER_KEY, CONSUMER_SECRET)
auth.set_access_token(ACCESS_TOKEN, SECRET_TOKEN)
api = tweepy.API(auth)

In [8]:
trends= api.get_place_trends(id='23424925')[0]

In [9]:
trend_list = []
for trend in trends['trends']:
    if type(trend['tweet_volume']) == int:
        num = str(trend['tweet_volume'])[:2] +'K'
        trend_list.append({'trends': trend['name'], 'number' : num})

dftrend = pd.DataFrame(trend_list)

In [11]:
dftrend.to_json('trends_twitter.json', orient='records')

In [12]:
dftrend

                trends number
0               Zverev    11K
1                Nadal    12K
2        #RolandGarros    12K
3              Ronaldo    97K
4               Morata    13K
5                Curry    21K
6              Shakira    35K
7                 Gavi    95K
8               Danilo    11K
9             Portugal    87K
10            Di Maria    12K
11               Tatum    11K
12               Piqu√©    19K
13          #NBAFinals    11K
14       State of Play    80K
15         Post Malone    33K
16             Celtics    40K
17            Warriors    34K
18             Sele√ß√£o    33K
19          Al Horford    85K
20                wjsn    14K
21  Millie Bobby Brown    14K
22            The Boys    18K
23               Messi    17K
24           Argentina    15K